<div class="searchSeries">
  <form class="searchSeries__form" (ngSubmit)="search(searchTitle)">
    <input
      type="text"
      name="searchTitle"
      [(ngModel)]="searchTitle"
      placeholder="title"
      class="searchSeries__input"
    />
  </form>

  <div class="error" *ngIf="noResults">
    we don't have information about {{ noResults }}.
    <p>Try again!</p>
  </div>

  <ul class="searchSeries__list-result" *ngIf="results">
    <li
      class="searchSeries__list-item"
      *ngFor="let tv of results"
      (click)="getIdSeries(tv.show.id)"
    >
      {{ tv.show.name }} - {{ tv.show.premiered }}
      <span *ngIf="tv.show.network"> [{{ tv.show.network.country.code }}]</span>
    </li>
  </ul>
</div>
<app-one-tv-series [idSeries]="idSeries" class="container-one-tv-series">
</app-one-tv-series>
