@import '../../../assets/style/mixins.scss';
@import '../../../assets/style/variables.scss';

:host {
  position: absolute;
  top: 100vh;
}

.one-tv-series {
  position: absolute;
  margin: 0 5vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &__img-series {
    margin-top: 10vh;
  }

  &__button {
    @include button(60vw, auto, $main-color, $main-color);
    margin-top: 5vh;
    padding: 2vh 3vw;

    &:hover {
      @include button-hover;
    }
  }
}
